.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px
}

.pokemon-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 0
}

.pokemon-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px silver;
    overflow: hidden;
    flex: calc(33.3333% - 32px);
    max-width: calc(33.3333% -32px);
    min-width: 250px;
}

.pokemon-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background: linear-gradient(135deg, #c0caff);
}

.pokemon-info {
    padding: 20px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon-name {
    font-size: 18pt;
    text-transform: capitalize;
    color: rgb(6,6,6);
    padding: 6px 12px
}

.pokemon-type {
    border-radius: 12px;
    padding: 12px 18px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.type-electric {
    background: linear-gradient(135deg, blue);
}

.type-grass {
    background: linear-gradient(135deg, rgb(0, 133, 18));
}

.type-fire {
    background: linear-gradient(135deg, red);
}

.type-water {
    background: linear-gradient(135deg, rgb(56, 196, 243));
}

.type-normal {
    background: linear-gradient(135deg, rgb(6, 6, 6));
}

.type-psychic {
    background: linear-gradient(135deg, rgb(158, 88, 158));
}

.type-ghost {
    background: linear-gradient(135deg, rgb(100, 100, 100));
}

@media screen and (max-width: 900px) {
    .pokemon-card {
        flex: calc(50% - 32px);
        max-width: calc(505 - 32px);
    }
}

@media screen and (max-width: 548px) {
    .pokemon-card {
        flex: 100%;
        max-width: 100%;
    }
}

