body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px
}

.trainers-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 0
}

.trainer-card {
    background-color: rgb(196, 196, 196);
    border-radius: 12px;
    box-shadow: 0 4px 8px silver;
    overflow: hidden;
    flex: calc(33.3333% - 32px);
    max-width: calc(33.3333% -32px);
    min-width: 250px;
}

.trainer-image {
    width: 100%;
    height: 250px;
    object-fit:contain;
    background: linear-gradient(135deg, #ffffff);
}

.trainer-info {
    padding: 20px;
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trainer-name {
    font-size: 18pt;
    text-transform: capitalize;
    color: rgb(6,6,6);
    padding: 6px 12px
}

.trainer-region {
    font-size: 14px;
    color: rgb(6,6,6);
    font-weight: bold;
    margin-top: 0px;
}

.trainer-badges {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    color: rgb(6,6,6);
    justify-content: center;
}

.trainer-status {
    font-size: 14px;
    color: rgb(6,6,6)
}
